@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-y: hidden;
}
:root {
  --background: #ffffff;
  --foreground: #1A1A1D;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1A1A1D;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}